<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Users</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <%- include('admin_navbar') %>
    </header>
    <div class="container-fluid">
          <!-- table to show all courses-->
          <div class="table-responsive-lg">
          <table class="table table-hover">
            <thead>
              <tr class="table-secondary table-active">
                <th scope="col" >User ID</th>
                <th scope="col" >First Name</th>
                <th scope="col" >Last Name</th>
                <th scope="col" >Role</th>
                <th scope="col" >Password</th>
              </tr>
            </thead>
            <tbody>
              <% results.forEach(function(data){ %>
              <tr class="table-active">
                <td><%= data.userId %></td>
                <td><%= data.userfName %> </td>
                <td><%= data.userlName %> </td>
                <td><%= data.role%></td>
                <td><%= data.password%></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div> 
    </div>

</body>
<footer>
    <%- include('footer') %>
</footer>
</html>