<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>dashboard</h1>
    <h2>hello, <%= username %>
    </h2>
    <p>
        <% results%>
    </p>
    <div class="logout">
        <form action="/logout" method="GET">
            <button type="submit">logout</button>
        </form>
    </div>
    <div class="personal_info">
        <form action="/personal_information" method="GET">
            <button type="submit">personal information</button>
        </form>
    </div>
    <!-- password modification button -->
    <!-- redirect to /password -->
    <div class="password">
        <form action="/password" method="GET">
            <button type="submit">change password</button>
        </form>
    <!-- search textbox and button -->
    <div class="search">
        <form action="/search" method="POST">
            <input type="text" name="search" placeholder="search by course code">
            <button type="submit">search</button>
        </form>
    </div>

    <!-- table to show results -->
    <table>
        <thead>
            <tr>
                <th>Course Code</th>
                <th>name</th>
                <th>Year</th>
                <th>Term</th>
                <th>Credit</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            <% results.forEach(function(data){ %>
                <tr>
                    <td>
                        <%= data.program_id %>
                    </td>
                    <td>
                        <%= data.course_name %>
                    </td>
                    <td>
                        <%= data.year %>
                    </td>
                    <td>
                        <%= data.term %>
                    </td>
                    <td>
                        <%= data.credit %>
                    </td>
                    <td>
                        <%= data.grade %>
                    </td>
                </tr>
                <% }) %>
        </tbody>


    </table>
    </div>

</body>

</html>