<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assessment</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <%- include('teacher_navbar') %>
    </header>
    <div class="container-fluid">
      <div><h4>Accessment</h4>
        <h5>Teaching Course List</h5>
      </div>
        <!-- listgroup to show the course teach by that teacher-->
        <div class="list-group">
          <% results.forEach(function(data){ %>
          <a href="/class_assessment" name="<%=data.courseCode%>" class="list-group-item list-group-item-action"> <%= data.courseCode %> &emsp; <%= data.courseName %> &emsp; <%= data.teachYear %> <%= data.term %></a>
          <% }) %>
        </div>
      </div>
</body>
<footer>
    <%- include('footer') %>
</footer>
</html>